.About {
  article {
    margin-bottom: 200px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  > .inner {
    margin: 0;
    h2 {
      margin: 100px 100px 0;
      line-height: 1.2;
      &::before {
        bottom: -100px;
      }
    }
    .depth2 {
      margin-top: 100px;
      margin-right: 100px;
    }
  }
  .info {
    margin-top: 120px;
    margin-left: 100px;
    margin-right: 100px;
  }
  .infoTxt {
    margin-top: 100px;
    ul {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        width: 30%;
      }
    }
  }
  .txt {
    width: 30%;
    @include txtStyle2($fz: $fontM, $c: #999);
    .title {
      @include txtStyle($fz: $fontXL, $c: #ccc, $fw: 600);
      margin-bottom: 30px;
    }
  }
  .infoExplan {
    > .title {
      @include txtStyle($fz: 4rem, $c: #fff, $fw: 600, $lh: 1.2);
      margin-bottom: 100px;
      margin-left: 100px;
      margin-right: 100px;
    }
    .infoTxt {
      width: 100%;
      display: table;
      padding: 0 70px;
      height: 700px;
      .txt {
        display: table-cell;
        width: 50%;
        padding: 0 30px 60px;
        vertical-align: top;
        li {
          width: 100%;
          margin-bottom: 100px;
          &:last-child {
            margin-bottom: 0;
          }
        }
        .title {
          @include txtStyle($fz: $fontXL, $c: #ccc, $fw: 600, $lh: 1.2);
          margin-bottom: 30px;
        }
      }
      .pic {
        display: table-cell;
        padding: 0 30px 60px;
        width: 50%;
        height: 100%;
        vertical-align: top;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
    .infoTxt2 {
      .txt {
        width: 100%;
        li {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          padding: 0 70px;
          margin-bottom: 100px;
        }
        .title {
          width: 50%;
          padding: 0 30px;
          @include txtStyle($fz: $fontXL, $c: #ccc, $fw: 600, $lh: 1.2);
          margin-bottom: 30px;
        }
        p {
          width: 50%;
          padding: 0 30px;
        }
      }
      .pic {
        margin-bottom: 100px;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
    .infoTxt3 {
      .txt {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 70px;
        li {
          width: 50%;
          margin-bottom: 100px;
          padding: 0 30px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .infoSubTxt {
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include txtStyle($fz: $fontM, $c: #aaa);
  }
  .pic {
    width: 100%;
    overflow: hidden;
    img {
      width: 100%;
      max-height: 990px;
    }
  }
}
