.Gallery {
  .searchBox {
    width: 100%;
    padding: 50px 10px;
    font-size: 0;

    .search {
      width: calc(100% - 70px);
      height: 70px;
      line-height: 70px;
      background-color: #fff;
      padding-left: 30px;
      @include txtStyle($fw: 500, $fz: $fontL, $c: #000);
      border: none;
    }
    .btnSearch {
      width: 70px;
      height: 70px;
      line-height: 70px;
      font-size: $fontXXL;
      background: #fff;
      color: #000;
      text-align: center;
      cursor: pointer;
      vertical-align: top;
      border: none;
      outline: none;
      transition: background-color 0.25s ease;
      &:hover {
      }
    }
  }
  > .inner {
    margin: 200px 90px 100px;
    h2 {
      &::before {
        bottom: -100px;
      }
    }

    .titleWrap {
      margin-left: 10px;
      margin-right: 10px;
      padding-bottom: 220px;
    }
  }
  .loading {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .frame {
    transition: transform 2s, opacity 2s;
    transform: translateY(200px);
    opacity: 0;

    &.on {
      transform: translateY(0px);
      opacity: 1;
    }

    &::after {
      content: "";
      display: block;
      clear: both;
    }

    article {
      width: 25%;
      padding: 10px;
      float: left;

      .inner {
        position: relative;
        width: 100%;
        cursor: pointer;
        overflow: hidden;
        .pic {
          width: 100%;
          img {
            width: 100%;
            vertical-align: top;
          }
        }
        h3 {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          padding: 15px 30px;
          opacity: 0;
          transform: translateY(100%);
          background-color: rgba($color: #000, $alpha: 0.7);
          @include txtStyle($fz: $fontL, $c: #fff, $fw: 500);
          transition: 0.25s ease;
        }
        &:hover {
          h3 {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
  }
}
