.Youtube {
  > .inner {
    padding: 100px 0 0;
    h2 {
      margin-top: 100px;
      margin-left: 100px;
      &::before {
        bottom: -100px;
      }
    }
    .depth2 {
      top: 180px;
      right: 100px;
    }
    .titleWrap {
      padding-bottom: 270px;
    }
  }
  article {
    border-bottom: 1px solid #aaa;
    padding: 50px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;

    .num {
      @include titleStyle($fz: $fontXXXL, $fw: 800, $c: #222, $lh: 1em);
      width: 10%;
    }

    h3 {
      filter: saturate(0);
      @include titleStyle($fz: $fontXL, $fw: 600, $c: #222);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 30px;
    }

    .txt {
      position: relative;
      width: 56%;
      padding: 0 30px;
      @include titleStyle($fz: $fontXL, $fw: 600, $c: #222);

      p {
        @include txtStyle($fz: $fontM, $c: #777, $ff: $txtFont);
        filter: saturate(0);
        @include ellipsis(5, 1.8);
      }

      span {
        position: absolute;
        left: 30px;
        bottom: 0;
        @include txtStyle($fz: $fontM, $c: #777);
        letter-spacing: 1px;
      }
    }

    .pic {
      width: 30%;
      height: 350px;
      background: #000;
      transition: 0.5s;
      cursor: pointer;

      &:hover {
        filter: saturate(1.2);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .Youtube {
    article {
      h3 {
        width: 47%;
      }

      .txt {
        width: 50%;
      }

      .pic {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 80px;
      }
    }
  }
}

@media screen and (max-width: $mp) {
  .Youtube {
    article {
      h3 {
        width: 100%;
        margin-bottom: 20px;
      }

      .txt {
        width: 100%;
      }

      .pic {
        margin-top: 40px;
        margin-bottom: 0px;
        height: 120px;
      }
    }
  }
}
