.Youtube {
  > .inner {
    margin: 0;
    h2 {
      margin-top: 100px;
      margin-left: 100px;
      &::before {
        bottom: -100px;
      }
    }
    .depth2 {
      top: 180px;
      right: 100px;
    }
    .titleWrap {
      padding-bottom: 270px;
    }
  }
  article {
    border-bottom: 1px solid #aaa;
    padding: 50px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;

    h3 {
      width: 20%;
      filter: saturate(0);
      @include titleStyle($fz: $fontXL, $fw: 600, $c: #222);
      @include ellipsis(4, 1.8);
    }

    .txt {
      width: 46%;
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      @include titleStyle($fz: $fontXL, $fw: 600, $c: #222);

      p {
        @include txtStyle($fz: $fontM, $c: #777, $ff: $txtFont);
        filter: saturate(0);
        @include ellipsis(3, 1.8);
      }

      span {
        @include txtStyle($fz: $fontM, $c: #777);
        letter-spacing: 1px;
      }
    }

    .pic {
      width: 30%;
      height: 200px;
      background: #000;
      filter: saturate(0);
      transition: 0.5s;
      cursor: pointer;

      &:hover {
        filter: saturate(1.2);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .Youtube {
    article {
      h3 {
        width: 47%;
      }

      .txt {
        width: 50%;
      }

      .pic {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 80px;
      }
    }
  }
}

@media screen and (max-width: $mp) {
  .Youtube {
    article {
      h3 {
        width: 100%;
        margin-bottom: 20px;
      }

      .txt {
        width: 100%;
      }

      .pic {
        margin-top: 40px;
        margin-bottom: 0px;
        height: 120px;
      }
    }
  }
}
